/* Homepage */


/* navbar */

.navbar{
    background: var(--dark-blue);
    height: 90px;
}



.navbar a{
    color: #fff;
    padding: 10px;
    margin: 0 3px;

}



.navbar .flex{
    justify-content: space-between;
}




.logo-and-name::before{
    content:"";
    display:block;
    background: url('../assets/icons/Logo-1-navbar.svg') no-repeat;
    width:40px;
    height:44px;
    clear:both;
    float: left;  
    margin-bottom: 6px;

}



nav a{
    font-size: 17px;
}


nav a:hover {
    border-bottom: 2px #fff solid;  
    
}

nav{
    flex-grow: 1;
}

nav ul{
    display: flex;
    justify-content:space-evenly;
    margin: 0 40px;

}



nav a.selected{
    color: var(--light-blue-one);
    border-bottom: 2px var(--light-blue-two) solid;
}


.container .phone-number::before{
   content:"";
   display:block;
   background: url('../assets/icons/icon-phone-navbar.svg') no-repeat;
   width:32px;
   height:33px;
   float: left;  
   margin: 0 6px 0 0;


}



/* hero */

.hero{
    background-color: #1e4c6366;
    background-image:url('../assets/images/hero-banner-image-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 661px;
    padding-top: 170px;
    
}

.hero .container{
    overflow: visible;
}

.hero .grid{
    grid-template-columns: 70% 40%;
    gap: 50px;
    align-items: flex-start;
}


.hero .hero-items-wrapper{
    position: relative;
    padding-left: 100px;
}


.hero-items-wrapper h1{
    font-size: 50px;
}

.hero-items-wrapper p{
    font-size: 25px;
    margin: 20px 0 50px 0;
}

.hero .container img{
    margin-left: 80px;

}


.hero a{
    position: absolute;
    right: 10px;
    margin-top: 70px; 
    font-size: 20px;
    font-weight:550;
    color: white;
}


/* projects */

.projects{
    background-color: var(--dark-blue);
    min-height: 500px;;
}

.projects h1{
   padding-bottom: 10px;
   margin-bottom: 40px;
   font-size: 40px;

}


/* my-skills */

.my-skills{
    text-align: center;
    font-size: 20px;
    min-height: 1400px;
    
}

.my-skills h1{
    color:var(--dark-blue);
    margin: 20px 0px 40px 0;
    font-size: 40px;
}



.my-skills .container{
    color:rgb(0, 0, 0);

}

.my-skills .grid{
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    align-items: normal;

}

.my-skills .skill-section-text{
    border-bottom: 2px #008ac02d solid;
    max-width: 1000px;
    margin: 20px auto ;
    min-height: 60px;
    padding-top: 20px;

}



.my-skills img{
    width: 70px;
    margin-bottom: 10px;
}


.skill-card{
    margin: 0 20px;

}

.skill-card .skill-header {
    color:#0c4965;
    font-size: 25px;
    margin: 10px 0;
    font-weight: 600;
}

.skill-card .skill-description{
    margin-bottom: 20px;
   
}

.skill-card .skill-highlighted-text{
    color: var(--light-blue-one);
    margin-bottom:20px;
   
}

.my-skills span{
    display:block;
    margin: 5px 0;
  
}

.my-skills p{
    color:var(--dark-blue);
    margin-top:20px;
    font-size: 22px;
    
}


.my-skills .second-container{
    grid-template-columns: 1fr 4fr 1fr;
    padding: 30px 0;
}


.bottom-skill-card{
    grid-column-start: 2;
    grid-column-end: 3;
}




.bottom-skill-card span:nth-child(5){

    margin-top: 50px;
    font-weight: 700;
    font-size: 23px;
}


.bottom-skill-card .blog-link{
    color: var(--light-blue-one);
    text-decoration:underline;
}

.bottom-skill-card .skill-header{
    color:#0c4965;
    font-size: 25px;
    margin: 10px 0;
    font-weight: 600;

}

.bottom-skill-card .skill-highlighted-text{
    color: var(--light-blue-one);
    margin-bottom:20px;
}

.bottom-skill-card p{
    grid-column-start: 1 ;
    grid-column-end: 4;
}


.bottom-skill-card p a{
    color: var(--light-blue-one);
}

/* Blog */

.blog{
    background-color: var(--dark-blue);
    min-height: 500px;;
}

.blog h1{
   padding-bottom: 10px;
   margin-bottom: 40px;
   font-size: 40px;

}


.mid-section-text{
    text-align: center;
    min-height: 100px;
    padding: 20px 0;
    color: #11435A;
}

.mid-section-text p{
    font-size: 30px;
    font-weight:400;
}

/* Footer */

footer{
    justify-content: space-betwee;
    background-color: var(--dark-blue);
    min-height: 200px;
}

footer .container{
    max-width:1200px;
    justify-content: space-between;
}

footer .footer-logo{
    width: 30%;
    
}

.container .name-logo{
    font-size: 30px;
    gap: 20px;
}

.footer-icons-container{
    width: 30%;
    justify-content: space-between;

}

.footer-icons-container img{
    width: 60px;


}

footer .container span{
    font-size: 25px;
}


/* Projects and Blog page */

.project-showcase{
    padding: 40px 0;
}

.project-showcase .container{
    width: 70%;
}

.project-showcase .project-showcase-wrapper{
    justify-content: space-between;
    color: #333;
    margin: 35px 0;
    gap: 10px;
}


.project-showcase .flex{
    flex-direction: row;

}

.project-showcase .project-sum{
    flex-basis: 666px;
    position: relative;
}

.project-showcase .project-sum h1{
    margin-bottom: 25px;
    font-weight: 600;
}

.project-showcase .project-sum p{
    margin-bottom: 25px;
    font-size: 20px;
}


.project-showcase .project-sum a:nth-child(4){
    position: absolute;
    right: 25px;


}



.project-image img{
    width: 300px; 
}

.project-sum .project-btn-dark-blue{
    color: #fff;
    background-color: var(--dark-blue);
    border-radius: 5px;

}


.dark-blue-bg {
    background-color: var(--dark-blue);
    

}

.dark-blue-bg .project-showcase-wrapper{
    color: #fff;
}

.dark-blue-bg .project-sum h1{
    text-align: left;
}

.dark-blue-bg .project-sum p{
    text-align: left;
}

.dark-blue-bg .project-sum a{
    background-color: var(--light-blue-one);
    font-size: 17px;
    color: var(--dark-blue);
}


/* About page */

.about .container{
    max-width: 1500px;
    width: 80%;
    justify-content: space-between;
    padding-top: 20px;



}

.text-wrapper{
    flex-basis: 700px;
    color: #333;
    min-height: 600px;
    text-align: center;
}

.text-wrapper h1{
    margin-bottom: 20px;
    font-weight: 600;
}

.text-wrapper p{
    font-size: 20px;
    line-height: 1.8;
}


/* Contact page */

.contact-bg{
    background-image: url('../assets/images/contact-page-background-2.png');
    background-repeat:no-repeat;
    background-size:cover;
    min-height: 1000px;
    
}

.icons-wrapper{
   flex-direction: column;
   gap: 30px;
}

.icon-row-one{
    width: 60%;
    justify-content: space-between;
}

.icon-row-two{
    width: 20%;
    justify-content: space-between;
    margin-top: 20px;
}

.email-wrapper{
    margin-top: 30px;
}
.email-wrapper span{
    font-size: 30px;
}


.contact-bg .email-form{
    width: 60%;
    min-height: 300px;
    position: relative;

}

.email-form .container{
    width: 80%;
    overflow: visible;

}


.email-form .grid{
    grid-template-columns: repeat(4,1fr);

}

.email-form textarea{
    grid-column-start: -4;
    grid-column-end: -2;
    min-height: 300px;
    resize:none;
    font-size: 15px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;

}


form{
    grid-column-start: 2;
    grid-column-end: 4;
   
}

.form-items-wrapper{
    justify-content: space-between;
    align-items: flex-end;
}

.form-items-wrapper input{
    width: 45%;
    height: 30px;
    font-size: 15px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;


}

.frmbtn{
    position: absolute;
     bottom: 0px; 
     right: 100px;
     border-style: initial;
     font-size: 17px;

}



.contact-bg .icons-wrapper{
    width: 30%;
    padding-top: 20px;
    margin-top: 20px;
}


.contact-bg .icons-wrapper .icons-row-one{
    justify-content: space-evenly;
 

}


.contact-bg .icons-wrapper .icons-row-two{
    justify-content: space-evenly;
    margin-top: 40px;
 

}


.email-wrapper{
    position: relative;
    left: 90px;
    top: 25px;
}