/* Homepage */


/* navbar */

.navbar{
    background: var(--dark-blue);
    height: 90px;
}



.navbar a{
    color: #fff;
    padding: 10px;
    margin: 0 3px;

}



.navbar .flex{
    justify-content: space-between;
}




.logo-and-name::before{
    content:"";
    background: url('../assets/icons/Logo-1-navbar.svg') no-repeat;
    width:40px;
    height:44px;
    clear:both;
    float: left;  
    margin-bottom: 6px;

}

.logo-and-name{
    width: 260px;

}



nav a{
    border-bottom: 2px solid #062330 ;
    font-size: 17px;
    transition: border-bottom 1s;
}


li:hover a {
    border-bottom: 2px #fff solid; 
}

nav{
    flex-grow: 1;
}

nav ul{
    display: flex;
    justify-content:space-evenly;
    margin: 0 40px;

}


nav a.selected{
    color: var(--light-blue-one);
    border-bottom: 3px var(--light-blue-two) solid;
    animation:none;
}


.container .phone-number::before{
   content:"";
   background: url('../assets/icons/icon-phone-navbar.svg') no-repeat;
   width:32px;
   height:33px;
   float: left;  
   margin-right: 6px;
}

.hamburger-menu-icon{
    display: none;
}

/* hero */

.hero{
    background-color: #1e4c6366;
    background-image:url('../assets/images/hero-banner-image-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 661px;
    padding-top: 170px;
    
}

.hero .container{
    overflow: visible;
}

.hero .grid{
    grid-template-columns: 70% 40%;
    gap: 50px;
    align-items: flex-start;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
  
    100% {
      transform: translateX(0);
    }
  }

.hero .hero-items-wrapper{
    position: relative;
    padding-left: 100px;
    animation: slideInFromLeft 1.5s linear;

}


.hero-items-wrapper h1{
    font-size: 50px;
}

.hero-items-wrapper p{
    font-size: 25px;
    margin: 20px 0 50px 0;
}


@keyframes fadeIn {
    0% {
      opacity:0;
    }
  
    100% {
      opacity:1;
    }
  }

.hero .container img{

    margin-left: 80px;
    animation: fadeIn 2s ease-in; 


}


.hero a{
    position: absolute;
    right: 10px;
    margin-top: 70px; 
    font-size: 20px;
    font-weight:550;
    color: white;
}


/* projects */

.projects{
    background-color: var(--dark-blue);
    min-height: 500px;;
}

.projects h1{
   padding-bottom: 10px;
   margin-bottom: 40px;
   font-size: 40px;

}


/* my-skills */

.my-skills{
    text-align: center;
    font-size: 20px;
    min-height: 1400px;
    
}

.my-skills h1{
    color:var(--dark-blue);
    margin: 20px 0px 40px 0;
    font-size: 40px;
}



.my-skills .container{
    color:rgb(0, 0, 0);

}

.my-skills .grid{
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    align-items: normal;

}

.my-skills .skill-section-text{
    border-bottom: 2px #008ac02d solid;
    max-width: 1000px;
    margin: 20px auto ;
    min-height: 60px;
    padding-top: 20px;

}



.my-skills img{
    width: 70px;
    margin-bottom: 10px;
}


.skill-card{
    margin: 0 20px;

}

.skill-card .skill-header {
    color:#0c4965;
    font-size: 25px;
    margin: 10px 0;
    font-weight: 600;
}

.skill-card .skill-description{
    margin-bottom: 20px;
   
}

.skill-card .skill-highlighted-text{
    color: var(--light-blue-one);
    margin-bottom:20px;
   
}

.my-skills span{
    display:block;
    margin: 5px 0;
  
}

.my-skills p{
    color:var(--dark-blue);
    margin-top:20px;
    font-size: 22px;
    
}


.my-skills .second-container{
    grid-template-columns: 1fr 4fr 1fr;
    padding: 30px 0;
}


.bottom-skill-card{
    grid-column-start: 2;
    grid-column-end: 3;
}




.bottom-skill-card span:nth-child(5){

    margin-top: 50px;
    font-weight: 700;
    font-size: 23px;
}


.bottom-skill-card .blog-link{
    color: var(--light-blue-one);
    text-decoration:underline;
}

.bottom-skill-card .skill-header{
    color:#0c4965;
    font-size: 25px;
    margin: 10px 0;
    font-weight: 600;

}

.bottom-skill-card .skill-highlighted-text{
    color: var(--light-blue-one);
    margin-bottom:20px;
}

.bottom-skill-card p{
    grid-column-start: 1 ;
    grid-column-end: 4;
}


.bottom-skill-card p a{
    color: var(--light-blue-one);
}

/* Blog */

.blog{
    background-color: var(--dark-blue);
    min-height: 500px;;
}

.blog h1{
   padding-bottom: 10px;
   margin-bottom: 40px;
   font-size: 40px;

}


.mid-section-text{
    text-align: center;
    min-height: 100px;
    padding: 20px 0;
    color: #11435A;
}

.mid-section-text p{
    font-size: 30px;
    font-weight:400;
}

/* Footer */

footer{
    background-color: var(--dark-blue);
    min-height: 200px;

}

footer .container{
    justify-content: space-between;
}

footer .footer-logo{
    width: 30%;
    
}

.container .name-logo{
    font-size: 30px;
    gap: 20px;
}

.footer-icons-container{
    width: 30%;
    justify-content: space-between;
    margin: 0 10px 0 20px;
    gap: 5px;

}

.footer-icons-container img{
    width: 60px;


}

footer .container span{
    font-size: 25px;
    text-align: center;
}



/* Projects and Blog page */

.project-showcase{
    padding: 40px 0;
}

.project-showcase .container{
    width: 70%;
}

.project-showcase .project-showcase-wrapper{
    justify-content: space-between;
    color: #333;
    margin: 35px 0;
    gap: 10px;
}


.project-showcase .flex{
    flex-direction: row;

}

.project-showcase .project-sum{
    flex-basis: 666px;
    position: relative;
}

.project-showcase .project-sum h1{
    margin-bottom: 25px;
    font-weight: 600;
}

.project-showcase .project-sum p{
    margin-bottom: 25px;
    font-size: 20px;
}


.project-showcase .project-sum a:nth-child(4){
    position: absolute;
    right: 25px;


}



.project-image img{
    width: 300px; 
}

.project-sum .project-btn-dark-blue{
    color: #fff;
    background-color: var(--dark-blue);
    border-radius: 5px;

}


.dark-blue-bg {
    background-color: var(--dark-blue);
    

}

.dark-blue-bg .project-showcase-wrapper{
    color: #fff;
}

.dark-blue-bg .project-sum h1{
    text-align: left;
}

.dark-blue-bg .project-sum p{
    text-align: left;
}

.dark-blue-bg .project-sum a{
    background-color: var(--light-blue-one);
    font-size: 17px;
    color: var(--dark-blue);
}


/* About page */

.about .container{
    max-width: 1500px;
    width: 80%;
    justify-content: space-between;
    padding-top: 20px;



}

.text-wrapper{
    flex-basis: 700px;
    color: #333;
    min-height: 600px;
    text-align: center;
}

.text-wrapper h1{
    margin-bottom: 20px;
    font-weight: 600;
}

.text-wrapper p{
    font-size: 20px;
    line-height: 1.8;
}


/* Contact page */

.contact-bg{
    background-image: url('../assets/images/contact-page-background.png');
    background-repeat:no-repeat;
    background-size:cover;
    min-height: 1000px;
    
}


.icon-row-one{
    width: 60%;
    justify-content: space-between;
}

.icon-row-two{
    width: 20%;
    justify-content: space-between;
    margin-top: 20px;
}



.contact-bg .email-form{
    width: 60%;
    min-height: 300px;
    position: relative;

}

.email-form .container{
    width: 80%;
    overflow: visible;

}


.email-form .grid{
    grid-template-columns: repeat(4,1fr);

}

.email-form textarea{
    grid-column-start: -4;
    grid-column-end: -2;
    min-height: 300px;
    resize:none;
    font-size: 15px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;

}


form{
    grid-column-start: 2;
    grid-column-end: 4;
   
}

.form-items-wrapper{
    justify-content: space-between;
    align-items: flex-end;
}

.form-items-wrapper input{
    width: 45%;
    height: 30px;
    font-size: 15px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.frmbtn{
  position: absolute;
  bottom: -80px; 
  right: 243px;
  border-style: initial;
  font-size: 17px;
  appearance: button;
  backface-visibility: hidden;
  background-color: var(--light-blue-two);
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}

.frmbtn:disabled{
    cursor: default;
}


.button-9:focus{
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}


.contact-bg .icons-wrapper{
    
    width: 80%;
    padding: 20px 15px;
    margin-top: 20px;
    position: relative;
    top: 147px;
    justify-content: space-between;
    background-color: var(--dark-blue);
    border: 1px solid rgba(255, 255, 255, 0.498);
    border-radius: 10px;

}

.contact-bg .icons-wrapper a{
    color:#fff;
 }
 
 

.contact-bg .icons-wrapper .icons-row-one{
    width: 35%;
    justify-content: space-between;
 

}



.contact-bg .icons-wrapper .icons-row-two{
    width: 30%;
    justify-content: space-between;
 

} 


.bottom-email-wrapper span{
    font-size:20px;
    margin-left: 5px;
}




/* Responsive mode */


@media (max-width: 1415px){
    .container .phone-number::before{
        position: relative;
        left: 50px;
        margin-bottom: 10px;
    }
    .hero .container img{
        margin-left:60px; 
        position: relative;
        right: 100px;
    }

}


@media (max-width: 1230px){
    .hero .container img{
        visibility: hidden;
        height: 0; 
    }

    .hero .grid{
        grid-template-columns: 1fr;
    }

    footer .container .name-logo{
        margin-left: 10px;
        padding-bottom: 15px;
    
    }



}




@media (max-width: 1124px){

    footer .container{
        flex-direction: column;
        gap: 30px;
    }

    

    }
 



@media (max-width:1110px ){
    nav{
        display: none;
       }



      .footer-icons-container{
        position: relative;
        right: 30px;
    }

    .hamburger-menu-icon{
        display: block;
        background-color: #0c415a;
        border-radius: 4px;
        width: 30px;
        height: 30px;
        padding: 4px 0 0 8px !important;
    }


    
    .hamburger-menu-icon:hover{
       color: var(--light-blue-one);
    }

    li:hover a {
        border-bottom: none; 
        color: var(--light-blue-one);
    }
     
    nav a{
        transition: none;
    }

    .phone-link{
        display: none;
        height: 0;

    }

    .container .phone-number::before{
        position: relative;
        left: 0;
      
    }

    nav ul li:nth-child(6){
        width: 200px;
        border: none;
    }

    nav{
        display: none;
    }

    .navbar .container {
        min-width: 100%;
        overflow: visible;
        position:relative;

    }

    nav.hamburger-menu-styles{
        position: absolute;
        right: 0;
        bottom: -390px;
        background-color: var(--dark-blue);
        height: 400px;
        padding-bottom: 10px;
        border-radius: 5px;
        z-index:1;

    }

    nav ul{
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        flex-direction: column;
        margin: 0 40px;
        height: 100%;
        width: 200px;
        text-align: center;


    }

    nav ul li{
        width: 60%;
        height: 60%;
        border-bottom: 0.5px solid white;
        padding-top: 20px;
    }

    nav a.selected{
        border-bottom: none;
    }


}

@media (min-width:1110px){
    .phone-link-menu{
        display:none;
    }

    nav{
        display: block;
    }
}




/* Tablets and under */


@media (max-width: 762px){

    
    .footer-icons-container{

         right: 60px; 
    }

    .hero{
        padding-top: 0;
    }

    .hero .hero-items-wrapper{

        padding-left: 0;
        margin-top: 20px;
    }

    .hero-items-wrapper h1{
        font-size: 45px;
    }

    .hero-items-wrapper p{
        margin: 50px 0 20px 0;

    }

    .hero a{
        padding-left: 30px;
        text-align: center;
    }

  
}




/* Mobile */

@media (max-width: 500px){
    .footer-icons-container{
     
        right: 100px;
    }

    .slide-content{
        margin: 0 5px;
      }
      
      .swiper-navBtn{
        display: none;
      }

      .card-image img{
        width: 80%;

      }

      .my-skills .mobile-grid{
        grid-template-columns: 0;
        grid-template-rows: 1fr 2fr 2fr;
        justify-content:flex-start;
        
      }

      .my-skills .skill-card{
        width: 300px;
        padding-right: 80px;

        
      }

      .my-skills .container .skill-card:nth-child(1){
       grid-row-start: -4;
       grid-row-end: -3;
 
     } 


     .my-skills .container .skill-card:nth-child(2){
        margin-top: 100px;
        grid-row-start: -3;
        grid-row-end: -2;
 
     } 

    .my-skills .container .skill-card:nth-child(3){
        margin-top: 100px;
        margin-bottom: 100px;
        grid-row-start: -2;
        grid-row-end: -1;
 
    } 

    .my-skills .second-container{
        grid-template-columns: 0;
        

    }

    .bottom-skill-card{
        padding-right: 50px;
        /* grid-row-start: -4;
        grid-row-end: -1; */

    }


    .mid-section-text p{
        font-size: 25px;
    }




    
}