/* navbar */

.navbar{
    background: var(--dark-blue);
    height: 90px;
}



.navbar a{
    color: #fff;
    padding: 10px;
    margin: 0 3px;

}



.navbar .flex{
    justify-content: space-between;
}




.logo-and-name::before{
    content:"";
    display:block;
    background: url('../assets/icons/Logo-1-navbar.svg') no-repeat;
    width:40px;
    height:44px;
    clear:both;
    float: left;  
    margin-bottom: 6px;

}



nav a{
    font-size: 17px;
}


nav a:hover {
    border-bottom: 2px #fff solid;  
    
}

nav{
    flex-grow: 1;
}

nav ul{
    display: flex;
    justify-content:space-evenly;
    margin: 0 40px;

}



nav a.selected{
    color: var(--light-blue-one);
    border-bottom: 2px var(--light-blue-two) solid;
}


.container .phone-number::before{
   content:"";
   display:block;
   background: url('../assets/icons/icon-phone-navbar.svg') no-repeat;
   width:32px;
   height:33px;
   float: left;  
   margin: 0 6px 0 0;


}



/* hero */

.hero{
    background-color: #1e4c6366;
    background-image:url('../assets/images/hero-banner-image-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 661px;
    padding-top: 170px;
    
}

.hero .container{
    overflow: visible;
}

.hero .grid{
    grid-template-columns: 70% 40%;
    gap: 50px;
    align-items: flex-start;
}


.hero .hero-items-wrapper{
    position: relative;
    padding-left: 100px;
}


.hero-items-wrapper h1{
    font-size: 50px;
}

.hero-items-wrapper p{
    font-size: 25px;
    margin: 20px 0 50px 0;
}

.hero .container img{
    margin-left: 80px;

}


.hero a{
    position: absolute;
    right: 10px;
    margin-top: 70px; 
    font-size: 20px;
    font-weight:550;
    color: white;
}


/* projects */

.projects{
    background-color: var(--dark-blue);
    min-height: 500px;;
}

.projects h1{
   padding-bottom: 10px;
   margin-bottom: 40px;
}

.flex-column{
  flex-direction: column;
  gap: 20px;
}

.section-name-projects{
    font-size: 40px;
}

.slide-content .flex{
    flex-direction: row;
    justify-content: space-between;

}

.slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 15px;
    padding-left: 40px;
  }
  
  .swiper-navBtn{
    color: #ffffff;
    transition: color 0.3s ease;
  }
  .swiper-navBtn:hover{
    color: var(--light-blue-two);
  }

  .blog{
    background-color: var(--dark-blue);
    min-height: 500px;;
}

.blog h1{
   padding-bottom: 10px;
   margin-bottom: 40px;
}



.my-skills{
    text-align: center;
    font-size: 20px;
}

.my-skills h1{
    color:var(--dark-blue);
    margin: 20px 0px 40px 0;
    font-size: 40px;
}

.my-skills .container{
    color:rgb(0, 0, 0);
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}


.my-skills img{
    width: 70px;
    margin-bottom: 10px;
}


.skill-card{
    margin: 0 20px;
}

.skill-card .skill-header {
    color:#0c4965;
    font-size: 25px;
    margin: 10px 0;
    font-weight: 600;
}

.skill-card .skill-description{
    margin-bottom: 20px;
   
}

.skill-card .skill-highlighted-text{
    color: var(--light-blue-one);
    margin-bottom:20px;
   
}

.my-skills span{
    display:block;
    margin: 5px 0;
  
}

.my-skills p{
    color:var(--dark-blue);
    margin-top:20px;
    font-size: 22px;
    
}


.my-skills .second-container{
    grid-template-columns: 1fr 3fr 1fr;
    padding: 30px 0;
}


.bottom-skill-card{
    grid-column-start: 2;
    grid-column-end: 3;
    
}

.bottom-skill-card .skill-header{
    color:#0c4965;
    font-size: 25px;
    margin: 10px 0;
    font-weight: 600;

}

.bottom-skill-card .skill-highlighted-text{
    color: var(--light-blue-one);
    margin-bottom:20px;
}

.bottom-skill-card p{
    grid-column-start: 1 ;
    grid-column-end: 4;
}


.bottom-skill-card p a{
    color: var(--light-blue-one);
}


.mid-section-text{
    text-align: center;
    min-height: 100px;
    padding: 20px 0;
    color: #11435A;
}

.mid-section-text p{
    font-size: 27px;
    font-weight:400;
}

footer{
    justify-content: space-betwee;
    background-color: var(--dark-blue);
    min-height: 200px;
}

footer .container{
    width: 100%;
    justify-content: space-between;
}


footer .footer-logo{
    width: 30%;
    
}

.container .name-logo{
    font-size: 30px;
    gap: 20px;
}


.footer-icons-container{
    width: 30%;
    justify-content: space-between;

}


footer .container span{
    font-size: 25px;
}
