/* Homepage */

/* navbar */


.navbar{
    background: var(--dark-blue);
    height: 90px;
}


.navbar a{
    color: #fff;
    padding: 10px;
    margin: 0 3px;

}


.navbar .flex{
    justify-content: space-between;
}


.logo-and-name::before{
    content:"";
    background: url('../assets/icons/Logo-1-navbar.svg') no-repeat;
    width:40px;
    height:44px;
    clear:both;
    float: left;  
    margin-bottom: 6px;

}

.logo-and-name{
    width: 260px;

}

nav a{
    border-bottom: 2px solid #062330 ;
    font-size: 17px;
    transition: border-bottom 1s;
}


.container ul li:hover a {
    border-bottom: 2px #fff solid; 
}



nav{
    flex-grow: 1;
}


nav ul{
    display: flex;
    justify-content:space-evenly;
    margin: 0 40px;

}


nav a.selected{
    color: var(--light-blue-one);
    border-bottom: 3px var(--light-blue-two) solid;
    animation:none;
}


.container .phone-number::before{
   content:"";
   background: url('../assets/icons/icon-phone-navbar.svg') no-repeat;
   width:32px;
   height:33px;
   float: left;  
   margin-right: 6px;
}



/* hero */

.hero{
    background-color: var(--dark-blue);
    background-image:url('../assets/images/hero-banner-image-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 661px;
    padding-top: 170px;
    
}


.hero .grid{
    grid-template-columns: 70% 40%;
    gap: 50px;
    align-items: flex-start;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
  
    100% {
      transform: translateX(0);
    }
  }

.hero .hero-items-wrapper{
    position: relative;
    padding-left: 100px;
    animation: slideInFromLeft 1.5s linear;

}


.hero-items-wrapper h1{
    font-size: 50px;
}

.hero-items-wrapper p{
    font-size: 25px;
    margin: 20px 0 50px 0;
}


@keyframes fadeIn {
    0% {
      opacity:0;
    }
  
    100% {
      opacity:1;
    }
  }

.hero .container img{
    display:block;
    margin-left: 80px;
    animation: fadeIn 2s ease-in; 
    
}


.hero a{
    position: absolute;
    right: 10px;
    margin-top: 70px; 
    font-size: 20px;
    font-weight:550;
    color: white;
}


/* projects section */

.projects{
    background-color: var(--dark-blue);
    text-align: center;
    min-height: 500px;
    padding-top: 4rem;
}

.projects h1{
   display: block;
   padding-bottom: 10px;
   margin: 0 0 60px;
   font-size: 40px;

}

.projects .container{

    padding: 0px;

} 

.swiper-button-next{

   right: -3px;

}

/* my-skills section */

.my-skills{
    text-align: center;
    font-size: 20px;
}

.my-skills h1{
    color:var(--dark-blue);
    margin: 20px 0px 40px 0;
    font-size: 40px;
}



.my-skills .container{
    color:rgb(0, 0, 0);
}


.my-skills .grid{
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    align-items: start;

}


.my-skills .skill-section-text{
    border-bottom: 2px #008ac02d solid;
    max-width: 1000px;
    margin: 20px auto ;
    min-height: 60px;
    padding-top: 20px;

}

.my-skills img{
    width: 70px;
    margin-bottom: 10px;
}


.skill-card{
    margin: 0 20px;
    width: max(161px,100%);

}

.skill-card .skill-header {
    color:#0c4965;
    font-size: 25px;
    margin: 10px 0;
    font-weight: 600;
}

.skill-card .skill-description{
    margin-bottom: 20px;
   
}

.skill-card .skill-highlighted-text{
    color: var(--light-blue-one);
    margin-bottom:20px;
   
}

.my-skills span{
    display:block;
    margin: 5px 0;
  
}

.my-skills p{
    color:var(--dark-blue);
    margin-top:20px;
    font-size: 22px;
    
}



.my-skills .second-container{
    padding: 30px 0;
}



.bottom-skill-card{
    width: max(260px, 100%);
}



.bottom-skill-card span:nth-child(5){

    margin-top: 50px;
    font-weight: 700;
    font-size: 23px;
}


.bottom-skill-card .blog-link{
    color: var(--light-blue-one);
    text-decoration:underline;
}

.bottom-skill-card .skill-header{
    color:#0c4965;
    font-size: 25px;
    margin: 10px 0;
    font-weight: 600;

}

.bottom-skill-card .skill-highlighted-text{
    color: var(--light-blue-one);
    margin-bottom:20px;
}



/* Blog section */

.blog{
    background-color: var(--dark-blue);
    min-height: 500px;
    text-align: center;
    padding-top: 4rem;
}

.blog h1{
   padding-bottom: 10px;
   margin-bottom: 60px;
   font-size: 40px;

}

.blog .container{
    padding: 0;
} 



.mid-section-text{
    text-align: center;
    min-height: 100px;
    padding: 20px 0;
    color: #11435A;
}

.mid-section-text p{
    font-size: 30px;
    font-weight:400;
}

/* Footer */

footer{
    background-color: var(--dark-blue);
    min-height: 200px;

}

footer .container{
    justify-content: space-between;
    padding-top: 1rem;
}

footer .footer-logo{
    width: 30%;
    
}

.container .name-logo{
    font-size: 30px;
    gap: 20px;
}

.footer-icons-container{
    width: 30%;
    justify-content: space-between;
    margin: 0 10px 0 20px;
    gap: 5px;

}

.footer-icons-container img{
    width: 60px;


}

footer .container span{
    font-size: 25px;
    text-align: center;
}



/* Projects and Blog page */

.project-showcase{
    padding: 40px 0;
    max-height: 1000px;
}

.project-showcase .container{
    width: 70%;
}

.project-showcase .project-showcase-wrapper{
    justify-content: space-between;
    color: #333;
    margin: 35px 0;
    gap: 10px;
   
}



.project-showcase .project-sum{
    flex-basis: 666px;
    position: relative;
     min-width: 306px;
}

.project-showcase .project-sum h1{
    margin-bottom: 25px;
    font-weight: 600;
}

.project-showcase .project-sum p{
    margin-bottom: 25px;
    font-size: 20px;
}


.project-button-wrapper{
    justify-content: space-between;
    flex-wrap: wrap;
    max-height: 46px;
    gap: 10px;  
    width: max(340px, 100%);

}


.project-image img{
    display: block;
    width: 100%; 
}

.project-showcase-wrapper .project-image{
      width: 35%;
      min-width: 210px;     
}


.project-sum .project-btn-dark-blue{
    color: #fff;
    background-color: var(--dark-blue);
    border-radius: 5px;

}


.dark-blue-bg {
    background-color: var(--dark-blue);
    

}

.dark-blue-bg .project-showcase-wrapper{
    color: #fff;
}

.dark-blue-bg .project-sum h1{
    text-align: left;
}

.dark-blue-bg .project-sum p{
    text-align: left;
}

.dark-blue-bg .project-sum a{
    background-color: var(--light-blue-one);
    font-size: 17px;
    color: var(--dark-blue);
}


.project-showcase .project-image{
    margin-left: 5rem;
}


.dark-blue-bg .project-image{
    margin-right: 5rem;


}

/* About page */

.about .container{
    max-width: 1500px;
    width: 80%;
    justify-content: space-between;
    padding-top: 20px;
}

.about-image-wrapper img{
    width: 100%;
    margin-block: 2rem;

}

.about-text-wrapper{
    flex-basis: 700px;
    color: #333;
    min-height: 600px;
    text-align: center;
    margin-left: 2rem;
    margin-block: 2rem;
}

.about-text-wrapper h1{
    margin-bottom: 20px;
    font-weight: 600;
}

.about-text-wrapper p{
    font-size: 20px;
    line-height: 1.8;
}


/* Contact page */

.contact-bg{
    background-image: url('../assets/images/contact-page-background.png');
    background-repeat:no-repeat;
    background-size:cover;
    min-height: 1000px;
    
}


 .contact-bg p{
    font-size: 30px;
    color: var(--light-blue-one);
    font-weight: 500;
    position: relative;
    margin-inline: 1.5rem;

  
 }


 .contact-bg .contact-page-text-one{
    bottom: 4.5rem;
    width: max(50%, 350px);
    padding-left: 4rem;

 }


 .contact-bg .contact-page-text-two{
    top: 7.5rem;
    padding-left: 5rem;
 }


.icon-row-one{
    width: 60%;
    justify-content: space-between;
}

.icon-row-two{
    width: 20%;
    justify-content: space-between;
    margin-top: 20px;
}



.email-form .container{
    width: 80%;
    overflow: visible;

}


.email-form .grid{
    grid-template-columns: repeat(4,1fr);

}

.email-form textarea{
    grid-column-start: -4;
    grid-column-end: -2;
    min-height: 300px;
    resize:none;
    font-size: 15px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    min-width: 432px;

}


form{
    grid-column-start: 2;
    grid-column-end: 4;
   
}

.form-items-wrapper{
    justify-content: space-between;
    align-items: flex-end;
    min-width: 432px;
}

.form-items-wrapper input{
    width: 45%;
    height: 30px;
    font-size: 15px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.frmbtn{
  position: absolute;
  bottom: -80px; 
  right: 273px;
  border-style: initial;
  font-size: 17px;
  backface-visibility: hidden;
  background-color: var(--light-blue-two);
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  padding: 0 25px;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  touch-action: manipulation;

}

.frmbtn:disabled{
    cursor: default;
}


.button-9:focus{
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.middle-email-wrapper{
    display: none;
 }

.contact-bg .icons-wrapper{
    
    width: 80%;
    padding: 20px 15px;
    margin-top: 10px;
    position: relative;
    top: 147px;
    justify-content: space-between;
    background-color: var(--dark-blue);
    border: 1px solid rgba(255, 255, 255, 0.498);
    border-radius: 10px;
    gap: 10px;
    margin-bottom: 5px;

}

.contact-bg .icons-wrapper a{
    color:#fff;
 }
 
 


.bottom-email-wrapper span{
    font-size:20px;
    margin-left: 5px;
}


/* thank you page*/


.thanks-page{
    min-height:800px;
}

.contact-bg .thanks-page-container{
    padding-top: 13rem;
}


/* Responsive mode */

@media (max-width:1110px ){

    nav{
        display: none;
    }

    .footer-icons-container{
        position: relative;
        right: 30px;
    }
     
      /* Hamburger Button Styles */
      .hamburger {
        width: 30px;
        height: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
      }

      .hamburger span {
        display: block;
        width: 100%;
        height: 4px;
        background-color: #fff;
        transition: all 0.3s ease;
        border-radius: 4px;

      }

      /* Active State */
      .hamburger.active span:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
      }

      .hamburger.active span:nth-child(2) {
        opacity: 0;
      }

      .hamburger.active span:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
      }

      .menu.active {
        display: block;
      }
   

    .container .phone-number::before{
        content:none;
        display: none;
      
    }

    nav ul li:nth-child(5){
        border: none;
    }


    .navbar .container {
        min-width: 100%;
        overflow: visible;
        position:relative;

    }

    nav.responsive-menu-styles{
        position: absolute;
        right: 0;
        bottom: -390px;
        background-color: var(--dark-blue);
        height: 400px;
        padding-bottom: 10px;
        border-radius: 7px;
        z-index:1;
        animation: fadeIn 0.5s ease;

    }

    nav ul{
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        flex-direction: column;
        margin: 0 40px;
        height: 100%;
        width: 200px;
        text-align: center;


    }

    nav ul li{
        width: 60%;
        height: 60%;
        border-bottom: 0.5px solid white;
        padding-top: 20px;
    }

    nav a.selected{
        border-bottom: none;
    }

    .about-section .container{
        flex-direction: column;
    }

    .about-image-wrapper{
        width: max(60%, 286px);
    }

     
    .about-section{
        min-height: 1300px;
     }

     .about-text-wrapper{
        margin-left: 0;
     }

     .about-text-wrapper p{
        min-width: 278px;
     }


}

/* nav menu hover animation on responsive */
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


@media (max-width: 1392px){


    .container ul li a span{
     position: relative;
     right: 22px;
   }

    .hero .container img{
        margin-left:60px; 
        position: relative;
        right: 100px;
    }

}


@media (max-width: 1230px){
    .hero .container img{
        visibility: hidden;
        height: 0; 
    }

    .hero .grid{
        grid-template-columns: 1fr;
    }

    footer .container .name-logo{
        margin-left: 10px;
        padding-bottom: 15px;
    
    }



}




@media (max-width: 1124px){

    footer .container{
        flex-direction: column;
        gap: 30px;
    }

    }
 

@keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
    }
  
    100% {
      transform: translateX(0);
    }
  }


/* Tablets and under */


@media (max-width: 873px){
    .project-showcase-wrapper {
        flex-direction: column;
    }

    .project-showcase-wrapper .project-image{
        order: 1;

    }
    .project-showcase-wrapper .project-sum{
        order: 2;
        text-align: center;
    }

    .project-sum h1{
        margin: 2rem 0;

    }

    .dark-blue-bg .project-sum h1{
        text-align: center;
    }
    
    .dark-blue-bg .project-sum p{
        text-align: center;
    }
    
    .project-showcase .project-image{
        margin-left: 0;
    }
    .dark-blue-bg .project-image{
        margin-right: 0;
    }

    .project-button-wrapper{
        padding-right: 2rem;
    }
    
    i.bottom-email-icon{
        display:none;
    }



    .bottom-email-wrapper span{
        font-size: 15px;
    }


}


@media (max-width: 762px){

    
    .footer-icons-container{

         right: 60px; 
    }

    .hero{
        padding-top: 0;

    }

    .hero .hero-items-wrapper{

        padding-left: 0;
        margin-top: 20px;
    }

    .hero-items-wrapper h1{
        font-size: 45px;
    }

    .hero-items-wrapper p{
        margin: 50px 0 20px 0;

    }

    .hero a{
        padding-left: 30px;
        text-align: center;
    }


    .hero .hero-items-wrapper{
        animation: slideInFromBottom 1s ease-in;
        
    
    }

    .my-skills .container{
        display: block;
        padding-right: 60px;
        
    }

    .my-skills .skill-card{
        margin-bottom: 5rem;
    }



    .my-skills .second-container{
        padding-right: 0;
    }

    .slide-content{
        margin: 0 10px;
        width: 100%;
        position: relative;
        right: 30px;
      }
      
      .swiper-navBtn{
        display: none;
      }

      .card-image img{
        width: 80%;

      }

      .about-section{
        min-height: 1500px;
     }

     .about-text-wrapper p{
        min-width: 428px;
     }

     .bottom-email-wrapper{
        display:none;
     }

     .email-form{
        display:none;
     }

     .middle-email-wrapper{
        display: block;
        font-size: 25px;
     }

     .middle-email-wrapper span{
        margin-left: 10px;
     }

     .icons-wrapper{
        flex-direction: column;
     }

     .contact-bg{
        min-height: 1500px;
     }

     .contact-bg .icons-wrapper{
        max-width: 250px;
        gap:1rem;
     }

     .middle-email-wrapper{
        margin-bottom: 5rem;
        padding-bottom: 4rem;

     }


  
}


/* Mobile */

@media (max-width: 500px){
    .footer-icons-container{
     
        right: 100px;
    }

    .about-section{
        min-height: 1750px;
     }



    .mid-section-text p{
        font-size: 25px;
    }

    .about-text-wrapper p{
        font-size: 18px;
        min-width:257px;
    }


    
  .contact-bg .contact-page-text-one{
    padding-right: 2rem;
    margin-block: 10rem;
    font-size: 20px;

 }

 .contact-bg .contact-page-text-two{
    margin-inline: 1.5rem;
    font-size: 20px;
    padding-left: 0;
 } 

 .contact-bg .icons-wrapper{
    margin-bottom: auto;
 }

 .middle-email-wrapper span{
    font-size: 25px;

 }

 .middle-email-wrapper{
    max-width: 200px;
    margin-right: 6rem;

 }

 i.middle-email-icon{
    display:none;
}

}