.project-showcase{
    padding: 40px 0;
}

.container{
    width: 70%;
}

.project-showcase .project-showcase-wrapper{
    justify-content: space-between;
    color: #333;
    margin: 35px 0;
    gap: 10px;
}


.project-showcase .flex{
    flex-direction: row;

}

.project-showcase .project-sum{
    flex-basis: 666px;
    position: relative;
}

.project-showcase .project-sum h1{
    margin-bottom: 25px;
    font-weight: 600;
}

.project-showcase .project-sum p{
    margin-bottom: 25px;
    font-size: 20px;
}


.project-showcase .project-sum a:nth-child(4){
    position: absolute;
    right: 25px;


}



.project-image img{
    width: 300px; 
}

.project-sum .project-btn-dark-blue{
    color: #fff;
    background-color: var(--dark-blue);
    border-radius: 5px;

}


.dark-blue-bg {
    background-color: var(--dark-blue);
    

}

.dark-blue-bg .project-showcase-wrapper{
    color: #fff;
}

.dark-blue-bg .project-sum h1{
    text-align: left;
}

.dark-blue-bg .project-sum p{
    text-align: left;
}

.dark-blue-bg .project-sum a{
    background-color: var(--light-blue-one);
    font-size: 17px;
    color: var(--dark-blue);
}