:root{
    --dark-blue: #062330;
    --light-blue-one: #02ABEE;
    --light-blue-two:#008AC0 ;
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}




body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.6;
}

.container {
    max-width: 1100px;
    width: 70%;
    margin: 0 auto;
    overflow: auto;
    padding: 0 20px;
    position: relative;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background: var(--light-blue-one);

}

.btn-outline {
    border: 3px #008AC0 solid;
}

.btn:hover {
    transform: scale(0.98);
}



ul{
    list-style-type: none;
}


a{
    text-decoration:none;
    color: #333;
} 


h1, h2 {
    font-weight: 300;
    line-height:1.2;
    margin: 10px 0;
}


.flex-column{
    flex-direction: column;
    gap: 20px;
  }
  
  
  
.slide-content .flex{
      flex-direction: row;
      justify-content: space-between;
  
  }
  
.slide-content{
      margin: 0 40px;
      overflow: hidden;
      padding-left: 40px;
    }
  
.card-image img{
      width: 75%;
    }
    
 .swiper-navBtn{
      transition: color 0.3s ease;
    }

 .swiper-navBtn:hover{
      color: var(--light-blue-two);
    }

.bottom-border{
    border-bottom: 1px solid rgba(255, 255, 255, 0.227);

}


.top-border{
    border-top: 1px solid rgba(255, 255, 255, 0.227);
}